<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3 ct_flex_col_575  mb-4">
                    <h4 class="d-flex align-items-center gap-2 mb-0 ct_fw_600 ct_text_061F61 ">
                        <a routerLink="/home/sweepstacks" class="ct_black_text"><i
                                class="fa-solid fa-angle-left"></i></a>Sweepstake Details
                    </h4>
                    <!-- when completed then show this button  -->
                    <button class="ct_blue_btn ct_w_100_575 ct_fw_600 " data-bs-toggle="modal"
                        data-bs-target="#ct_announce_winner">
                        Announce Winner
                    </button>
                </div>


                <div class="ct_grey_bg p-0">
                    <div class="ct_sweepstake_full_img rounded-top">
                        <img src="img/recent_uploaded_post_11.png" alt="" class="rounded-bottom-0" />
                    </div>

                    <div class="p-4">
                        <h4 class="ct_fs_20 ct_fw_600 mb-3 ct_text_061F61">
                            Modern Living Lucky Draw
                        </h4>
                        <p class="mb-0 ct_para_scroll ct_custom_scroll">
                            Experience the ultimate luxury lifestyle by entering our Modern Living Lucky Draw — your
                            gateway to owning a premium sea-facing apartment in one of Mumbai’s fastest-growing locales.
                            Don’t miss your opportunity to turn dreams into reality.
                        </p>


                    </div>


                </div>

                <div class="ct_grey_bg mt-4">
                    <h4 class="ct_fs_20 ct_fw_600 mb-2 ct_text_061F61">
                        Sweepstake Details
                    </h4>
                    <div class="row">
                        <div class="col-lg-6 mt-3">
                            <div class="d-flex align-items-start gap-2">
                                <img src="img/calender_icon.svg" alt="">
                                <span class="ct_white_nowrap ct_fw_600 ct_text_061F61"> Date: </span><span>30 Jun - 5
                                    Jul 2025 </span>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="d-flex align-items-start gap-2">
                                <img src="img/guidance_entry.svg" alt="">
                                <span class="ct_white_nowrap ct_fw_600 ct_text_061F61">Total Entries:</span> <span>55
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="d-flex align-items-start gap-2">
                                <img src="img/proicons_clock.svg" alt="">
                                <span class="ct_white_nowrap ct_fw_600 ct_text_061F61"> Time: </span><span> 9 AM </span>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="d-flex align-items-start gap-2">
                                <img src="img/prize_coin.svg" alt="">
                                <span class="ct_white_nowrap ct_fw_600 ct_text_061F61"> Entry Prize: </span><span> $49
                                    per entry</span>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-3">
                            <div class="d-flex align-items-start gap-2">
                                <img src="img/weui_location-outlined.svg" alt="">
                                <span class="ct_white_nowrap ct_fw_600 ct_text_061F61">Location:</span> <span>2972
                                    Westheimer Rd. Santa Ana, Illinois 85486 </span>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-3">
                            <div class="d-flex align-items-start gap-2">
                                <img src="img/ph_gift-light.svg" alt="">
                                <span class="ct_white_nowrap ct_fw_600 ct_text_061F61">Winning Prize:</span> <span>Worth
                                    $29,999! Brand New Golf Kit! </span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="ct_grey_bg mt-4">
                    <h4 class="ct_fs_20 ct_fw_600 mb-2 ct_text_061F61">Terms and Conditions</h4>
                    <p class="mb-0 ct_para_scroll ct_custom_scroll">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea ex minima obcaecati modi assumenda
                        quas nemo eius odio debitis ipsum incidunt animi, quibusdam beatae illo mollitia neque.
                        Cupiditate, quo non.
                    </p>
                </div>



                <div class="ct_grey_bg mt-4">
                    <h4 class="ct_fs_20 ct_fw_600 mb-4 ct_text_061F61">Participants</h4>
                    <div class="table-responsive ct_custom_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>User Profile</th>
                                    <th>User Name</th>
                                    <th>Email Id</th>
                                    <th>Booked On</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <img src="img/user.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                            data-bs-target="#full_view_img" data-bs-toggle="modal">
                                    </td>
                                    <td>
                                        John Doe
                                    </td>
                                    <td>JohnDoegmail.com</td>

                                    <td>Feb 23, 2024</td>

                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <img src="img/user.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                            data-bs-target="#full_view_img" data-bs-toggle="modal">
                                    </td>
                                    <td>
                                        John Doe
                                    </td>
                                    <td>JohnDoegmail.com</td>

                                    <td>Feb 23, 2024</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <img src="img/user.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                            data-bs-target="#full_view_img" data-bs-toggle="modal">
                                    </td>
                                    <td>
                                        John Doe
                                    </td>
                                    <td>JohnDoegmail.com</td>

                                    <td>Feb 23, 2024</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        <img src="img/user.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                            data-bs-target="#full_view_img" data-bs-toggle="modal">
                                    </td>
                                    <td>
                                        John Doe
                                    </td>
                                    <td>JohnDoegmail.com</td>

                                    <td>Feb 23, 2024</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        <img src="img/user.jpg" alt="" class="ct_img_40 ct_cursor_pointer"
                                            data-bs-target="#full_view_img" data-bs-toggle="modal">
                                    </td>
                                    <td>
                                        John Doe
                                    </td>
                                    <td>JohnDoegmail.com</td>

                                    <td>Feb 23, 2024</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ct_announce_winner" tabindex="-1" aria-labelledby="ct_announce_winnerLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 mb-0">
                <h1 class="modal-title ct_fs_20 ct_fw_600 " id="ct_announce_winnerLabel">Winner Selection</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                <form action="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2">Select Winner</label>
                                <select class="form-control ct_input">
                                    <option value="">John Doe</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2">Prize</label>
                                <input type="text" placeholder="Enter Product" class="form-control ct_input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2">Amount</label>
                                <input type="text" placeholder="Enter Amount" class="form-control ct_input">
                            </div>
                        </div>


                    </div>

                    <div class="d-flex align-items-center gap-2 mb-4">
                        <label class="ct_checkbox-container me-0 ps-3">
                            <input class="ct_custom-checkbox" checked="" type="checkbox">
                            <span class="ct_checkmark"></span>
                        </label>
                        <p class="mb-0 mt-1">Send confirmation email/message to the Winner</p>
                    </div>
                    <div class="modal-footer ct_modal_footer border-0 pt-0">
                        <button type="button" class="ct_dark_green_btn ct_fw_600">Confirm</button>
                        <button type="button" class="ct_outline_btn ct_fw_600" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Image preview Modal S -->
<div class="modal fade modal-md" id="full_view_img" tabindex="-1" aria-labelledby="full_view_imgLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title ct_fs_24 ct_ff_QuattrocentoSans ct_fw_700 mb-0" id="full_view_imgLabel">
                    Image Preview
                </h5>
                <button type="button" class="btn-close ct_custom_close_img" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ct_full_view_img">
                    <img src="img/user.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>