<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_767 gap-3">
                    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_text_061F61 ct_ff_Saira">Property Listing</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_767 ct_flex_col_767">
                        <div class="ct_search ct_w_100_767">
                            <input type="text" class="form-control"
                                placeholder="Search" />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="d-flex align-items-center gap-3 ct_w_100_767">
                            <p class="mb-0 ct_white_nowrap">Filter</p>
                            <select class="form-control ct_input ct_w_100_767">
                                <option value="">All</option>
                                <option value="">Approved</option>
                                <option value="">Pending</option>
                                <option value="">Rejcted</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>DOB</th>
                                <th>Government ID Number</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <span class="ct_overlay_text">Justin Donahoo</span>
                                </td>
                                <td>
                                    <span class="ct_overlay_text">justinfourcaratvodka.com</span>
                                </td>
                                <td>14-01-1990</td>

                                <td>
                                    999373720
                                </td>
                                <td>
                                    Driver License
                                </td>
                                <td>
                                    <select class="form-select w-auto">
                                        <option disabled>Select</option>
                                        <option value="PENDING">Pending</option>
                                        <option value="APPROVED">Approved</option>
                                        <option value="REJECTED">Rejected</option>
                                    </select>
                                </td>
                                <td>
                                    <a routerLink="/home/view-investor" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>

                                <td>
                                    <span class="ct_overlay_text">Justin Donahoo</span>
                                </td>
                                <td>
                                    <span class="ct_overlay_text">justinfourcaratvodka.com</span>
                                </td>
                                <td>14-01-1990</td>
                                <td>
                                    999373720
                                </td>
                                <td>
                                    Driver License
                                </td>
                                <td>
                                    <select class="form-select w-auto">
                                        <option disabled>Select</option>
                                        <option value="PENDING">Pending</option>
                                        <option value="APPROVED">Approved</option>
                                        <option value="REJECTED">Rejected</option>
                                    </select>
                                </td>
                                <td>
                                    <a routerLink="/home/view-investor" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    <span class="ct_overlay_text">Justin Donahoo</span>
                                </td>
                                <td>
                                    <span class="ct_overlay_text">justinfourcaratvodka.com</span>
                                </td>
                                <td>14-01-1990</td>

                                <td>
                                    999373720
                                </td>
                                <td>
                                    Driver License
                                </td>
                                <td>
                                    <select class="form-select w-auto">
                                        <option disabled>Select</option>
                                        <option value="PENDING">Pending</option>
                                        <option value="APPROVED">Approved</option>
                                        <option value="REJECTED">Rejected</option>
                                    </select>
                                </td>
                                <td>
                                    <a routerLink="/home/view-investor" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>