<label for="ct_file_edit" class="position-relative mx-auto mb-4 d-flex justify-content-center">
    <div *ngIf="this.imagePreviews.length == 0">
        <input type="file" class="d-none" accept="image/*" id="ct_file_edit" (change)="onFileSelected($event)" multiple>
    </div>
    <div *ngIf="this.imagePreviews.length == 0" class="ct_file_change">
        <img [src]='demoFile' alt="File Preview">
        <div class="ct_edit_icon ct_file_edit_icon">

        </div>
    </div>
    <div class="ct_multiple_img_flex">
        <div class="position-relative" *ngFor="let preview of imagePreviews">
            <img *ngIf="preview.startsWith('data:image/')" [src]="preview" alt="Image Preview">
            <video *ngIf="preview.startsWith('blob:')" [src]="preview" width="100%"></video>
            <button (click)="deletePreview(preview)" class="ct_multiple_img_dlt"><i
                    class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
</label>



<label for="ct_pdf_edit" class="position-relative mx-auto mb-4 d-flex justify-content-center">
    <div *ngIf="pdfPreviews.length === 0">
        <input type="file" class="d-none" id="ct_pdf_edit" (change)="onPdfSelected($event)" multiple accept=".pdf">
    </div>

    <div *ngIf="pdfPreviews.length === 0" class="ct_file_change">
        <img [src]="demoFile" alt="PDF Placeholder">
        <div class="ct_edit_icon ct_file_edit_icon">
            <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.23622 0.496129C8.41543 0.188911 8.74433 0 9.1 0H16.9C17.2557 0 17.5846 0.188911
                           17.7638 0.496129L19.5744 3.6H22C24.2091 3.6 26 5.39086 26 7.6V19.9C26 22.1091 24.2091
                            23.9 22 23.9H4C1.79086 23.9 0 22.1091 0 19.9V7.6C0 5.39086 1.79086 3.6 4 3.6H6.42563L8.23622
                             0.496129ZM9.67437 2L7.86378 5.10387C7.68457 5.41109 7.35567 5.6 7 5.6H4C2.89543 5.6 2 6.49543 
                             2 7.6V19.9C2 21.0046 2.89543 21.9 4 21.9H22C23.1046 21.9 24 21.0046 24 19.9V7.6C24 6.49543 23.1046
                              5.6 22 5.6H19C18.6443 5.6 18.3154 5.41109 18.1362 5.10387L16.3256 2H9.67437ZM13 9.5C11.067 9.5 
                              9.5 11.067 9.5 13C9.5 14.933 11.067 16.5 13 16.5C14.933 16.5 16.5 14.933 16.5 13C16.5 11.067 14.933
                               9.5 13 9.5ZM7.5 13C7.5 9.96243 9.96243 7.5 13 7.5C16.0376 7.5 18.5 9.96243 18.5 13C18.5 16.0376 16.0376 18.5 13 18.5C9.96243 18.5 7.5 16.0376 7.5 13Z"
                    fill="white" />
            </svg>
        </div>
    </div>

    <div class="ct_multiple_img_flex">
        <div class="position-relative" *ngFor="let preview of pdfPreviews">
            <!-- <p>{{ preview }}</p> -->
            <iframe scrolling="no" [src]="preview.url" width="100%" height="200" class="ct_pdf_scroll"></iframe>
            <button (click)="deletePdfPreview(preview.name)" class="ct_multiple_img_dlt"><i
                    class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
</label>

<button (click)="submitPdfAlbum()" type="button" class="ct_green_btn ct_h_50">
    Add PDFs
</button>