<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_24 ct_fw_600 ct_text_061F61 mb-4 ct_ff_Saira">Dashboard</h4>
        <div class="row">
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">4759</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Users
                        </h6>
                    </div>
                    <div>
                        <img src="img/total_user.gif" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">759</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Property Listed
                        </h6>
                    </div>
                    <div>
                        <img src="img/property_listed.gif" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">1856</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Sweepstakes
                        </h6>
                    </div>
                    <div>
                        <img src="img/sweepstacke.gif" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">85</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            KYC Verfified
                        </h6>
                    </div>
                    <div>
                        <img src="img/kyc.gif" alt="" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between gap-3">
                    <h4 class="mb-0 ct_fs_20 ct_fw_700">Upcoming Schedules</h4>
                    <a href="scheduled-visits.html" class="ct_dark_blue_link ct_fw_600">View All</a>
                </div>

                <div class="table-responsive ct_custom_table mt-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Buyer Name </th>
                                <th>Agent Name</th>
                                <th>Scheduled Date</th>
                                <th>Property</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Emily Parker</td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>

                                <td>
                                    <span class="ct_green_clr ct_fw_600">Completed</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Emily Parker</td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>

                                <td>
                                    <span class="ct_blue_clr ct_fw_600">Upcoming</span>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Emily Parker</td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>

                                <td>
                                    <span class="ct_green_clr ct_fw_600">Completed</span>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Emily Parker</td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>

                                <td>
                                    <span class="ct_green_clr ct_fw_600">Completed</span>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Emily Parker</td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>

                                <td>
                                    <span class="ct_green_clr ct_fw_600">Completed</span>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>