<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_24 ct_fw_600 ct_text_061F61 mb-4 ct_ff_Saira">Dashboard</h4>
        <div class="row">
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">{{data?.total_revenue}}</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Revenue
                        </h6>
                    </div>
                    <div>
                        <img src="img/total_user.gif" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">{{data?.total_sellers}}</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Property Sellers
                        </h6>
                    </div>
                    <div>
                        <img src="img/property_listed.gif" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">{{data?.total_investors}}</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Investors
                        </h6>
                    </div>
                    <div>
                        <img src="img/sweepstacke.gif" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">{{data?.listed_properties}}</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Listed Properties
                        </h6>
                    </div>
                    <div>
                        <img src="img/kyc.gif" alt="" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-6">
                <div class="d-flex align-items-center justify-content-between gap-3">
                    <h4 class="mb-0 ct_fs_20 ct_fw_700">Recent Seller Applications</h4>
                    <!-- <a class="ct_dark_blue_link ct_fw_600">View All</a> -->
                </div>

                <div class="table-responsive ct_custom_table mt-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Seller Name </th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of recent_seller; let i = index">
                                <td>{{item.full_name}}</td>
                                <td>{{item.date | date:'dd-MMM-yyyy'}}</td>
                                <td>
                                    @if(item.kyc_status == '1'){
                                    <span class="ct_green_clr ct_fw_600">Approved</span>
                                    }
                                    @if(item.kyc_status == '2'){
                                    <span class="ct_red_clr ct_fw_600">Rejected</span>
                                    }
                                    @if(item.kyc_status == '0'){
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                    }
                                </td>
                                <td>
                                    <a [routerLink]="['/home/view-agent']" [queryParams]="{ agent_id: item.id }"
                                        class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-6">
                <div class="d-flex align-items-center justify-content-between gap-3">
                    <h4 class="mb-0 ct_fs_20 ct_fw_700">Recent Investor Applications</h4>
                    <!-- <a class="ct_dark_blue_link ct_fw_600">View All</a> -->
                </div>

                <div class="table-responsive ct_custom_table mt-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Investor Name </th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of recent_investor; let i = index">
                                <td>{{item.full_name}}</td>
                                <td>{{item.date | date:'dd-MMM-yyyy'}}</td>
                                <td>
                                    @if(item.application_status == '1'){
                                    <span class="ct_green_clr ct_fw_600">Approved</span>
                                    }
                                    @if(item.application_status == '2'){
                                    <span class="ct_red_clr ct_fw_600">Rejected</span>
                                    }
                                    @if(item.application_status == '0'){
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                    }
                                </td>
                                <td>
                                    <a [routerLink]="['/home/view-buyer']" [queryParams]="{ buyer_id: item.id }"
                                        class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>