@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');




* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Urbanist", sans-serif;

  scroll-padding-top: 100px;
  word-break: break-word;
}

.ct_black_text {
  color: #222222;
}

.ct_text_clr_151540 {
  color: #151540;
}

.ct_ff_Saira {
  font-family: "Saira Semi Condensed", sans-serif;


}

.ct_text_020617 {
  color: #020617;
}


.ct_text_6E6F76 {
  color: #6E6F76;
}

.ct_text_757575 {
  color: #757575;
}

.ct_text_0bbe96 {
  color: #0bbe96;
}

.ct_tex_6B7280 {
  color: #6B7280;
}

:root {
  --dark_blue: #1B1B52;

  --yellow: #ffb902;
  --text_clr_061F61: #061F61;
}



.ct_text_4B5563 {
  color: #4b5563;
}

.ct_text_061F61 {
  color: #061F61;
}

.ct_dark_blue_text {
  color: var(--dark_blue);
}

.ct_p_30 {
  padding: 30px !important;
}

.ct_text_op_07 {
  opacity: 0.7;
}

.ct_text_op_05 {
  opacity: 0.5;
}

.ct_orange_link {
  color: var(--text_clr_061F61);
  font-weight: 500;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

.ct_fs_36 {
  font-size: 36px;
}

.ct_fs_60 {
  font-size: 60px;
}


.ct_fs_18 {
  font-size: 18px;
}

.ct_fs_45 {
  font-size: 45px;
}

.ct_fs_16 {
  font-size: 16px;
}

.ct_fs_14 {
  font-size: 14px;
}

.ct_fs_12 {
  font-size: 12px;
}

.ct_fw_300 {
  font-weight: 300;
}

.ct_fw_400 {
  font-weight: 400;
}

.ct_fw_500 {
  font-weight: 500;
}

.ct_fw_600 {
  font-weight: 600 !important;
}

.ct_fw_700 {
  font-weight: 700;
}

.ct_mt_30 {
  margin-top: 30px;
}

.ct_input {
  height: 50px;
  outline: none;
  background-color: transparent;
  border: 1px solid #4B55631A;
  border-radius: 10px;
}

.ct_input_icon_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.ct_show_eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.ct_input_ps_40 {
  padding-left: 40px;
}

.ct_input_ps_50 {
  padding-left: 50px;
}

.ct_input_pe_40 {
  padding-right: 40px;
}

.ct_btn_h_50 {
  height: 50px !important;
}

.ct_input:focus {
  box-shadow: unset;
  border-color: var(--text_clr_061F61);
}

.ct_transparent_select {
  outline: none;
  border: 0px !important;
  background-color: transparent;
}

.ct_input_grey_bg {
  background-color: #F8F8F8;
}

.ct_see_detail_link {
  color: var(--text_clr_061F61);
  text-decoration: underline;
  transition: 0.4s ease all;
}

.ct_see_detail_link:hover {
  text-decoration: none;
}

.ct_overlay_text {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.ct_forgot_link {
  transition: 0.4s ease all;
  color: #4B5563;
}

.ct_forgot_link:hover {
  color: #000;
  text-decoration: underline;
}

/* Login css S */
.ct_login_main_bg {

  /* padding: 30px 30px 30px 180px; */
  position: relative;
  display: flex;
  align-items: start;
  height: 100vh;


}

.ct_login_main_bg:before {
  content: "";
  position: absolute;
  background: linear-gradient(212.58deg, #0C40C7 14.85%, #061F61 98.9%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  height: 100%;
  right: 0px;
  margin-left: auto;
  z-index: -1;
}

.ct_login_left_form {
  width: 100%;
  max-width: 35%;
  flex: 1 0 0;
  padding-left: 60px;
  height: 100vh;
  align-items: center;
  display: grid;
  padding-block: 30px;
}

.ct_login_inner_left_form {
  box-shadow: 0px 1px 34px 0px #0007521A, 0px -1px 34px 0px #0007521A;
  background-color: #fff;
  border-radius: 30px;
  padding: 40px;
  position: relative;
}

.ct_login_inner_left_form:before {
  content: "";
  position: absolute;
  top: -82px;
  background-image: url(../img/girl.png);
  width: 200px;
  height: 200px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: move_girl_2s 2s ease-in-out infinite alternate;

}

@keyframes move_girl_2s {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(30%);
  }
}

.ct_login_right_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 180px;
  position: relative;
  flex: 1;
}

.ct_login_right_content:after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: url(../img/shape.png) no-repeat;
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-position: right bottom;
  background-size: contain;
  opacity: 0.5;
}

/* Input container */
.ct_mb_30 {
  margin-bottom: 30px;
}



.ct_login_input {
  color: #000 !important;
}

.ct_login_input {
  border-color: #4B556333;
}

.ct_login_input::placeholder {
  color: #4B5563;
}

.ct_login_input:focus {
  box-shadow: unset;
  border-color: var(--dark_blue);
  background-color: #f5f5f5;
}



.ct_logo img {
  width: 100%;
  max-width: 300px;
}

.ct_input_left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

/* Login css E */

/* Sidebar css S */
.ct_admin_logo {
  /* border-bottom: 1px solid #D2D5DB; */
  padding-top: 15px;
}

.ct_profile_big_img {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.ct_profile_big_img img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  object-fit: cover;
  margin-inline: auto;
}

.ct_profile_big_img span {
  position: absolute;
  bottom: -4px;
  left: 50%;
  background-color: #DAE9FF;
  color: #4B5563;
  font-size: 15px;
  text-align: center;
  transform: translateX(-50%);
  padding: 3px 10px;
  border-radius: 5px;
}

.ct_side_bar {
  position: fixed;
  height: 100vh;
  background-color: #fff;
  max-width: 276px;
  width: 100%;
  padding: 0px 0px 30px;
  transition: 0.4s ease all;
  z-index: 9;
  border-right: 1px solid #eaebef;
}

.ct_side_bar ul {
  margin-top: 30px;
  height: calc(100% - 130px);
  overflow-y: auto;
  padding-inline: 15px;
}

.ct_side_bar ul li a {
  padding: 13px 16px;
  border-radius: 5px;
  transition: 0.4s ease all;
  width: 100%;
  font-size: 15px;
  display: flex;
  color: #384152;
  font-weight: 600;
  align-items: center;
  gap: 15px;
  position: relative;
}

.ct_side_bar ul li a img {
  width: 24px;
  object-fit: contain;
}

.ct_side_bar ul li+li {
  margin-top: 10px;
}

.ct_side_bar ul li a:hover,
.ct_side_bar ul li a.active {
  background: linear-gradient(180deg, #151540 -298.31%, #222267 414.55%);



  color: #fff;
}

.ct_side_bar ul li a.active img,
.ct_side_bar ul li a:hover img {
  filter: brightness(14.5);
}

.ct_right_panel {
  width: calc(100% - 276px);
  margin-left: 276px;
  transition: 0.4s ease all;
}

.ct_px_30 {
  padding-inline: 15px;
}

body {
  background-color: #f7f7f7;
}

.ct_fs_26 {
  font-size: 26px;
}

.ct_right_dropdown button {
  border: 0px;
  padding: 11px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
}

.ct_right_dropdown button img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 0px;
  background-color: #fff;
  padding-inline: 30px;
  border-bottom: 1px solid #d2d5db;
}

.ct_input_border_1 {
  border: 1px solid #d2d5db;
}

.ct_mb_16 {
  margin-bottom: 16px;
}

.ct_notification_icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  position: relative;
}

.ct_notification_icon span {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #ff3d00;
  top: 1px;
  right: 1px;
}

/* Dashboard css S */
.ct_inner_header_bg {
  background-color: #fff;
  padding: 15px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid #eaebef;
}

.ct_dash_card {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #eaebef;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.ct_dash_card img {
  width: 40px;
}

.ct_dash_card_grid_2 {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
}

.ct_card_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-left: auto;
}

.ct_mt_50 {
  margin-top: 50px;
}

.ct_mb_50 {
  margin-bottom: 50px;
}

.ct_switch .form-check-input {
  height: 20px;
}

.ct_switch .form-check-input:focus {
  box-shadow: unset;
}

.ct_custom_table {
  border: 1px solid #D2D5DB;
  border-radius: 10px;
}

.ct_custom_table table {
  margin-bottom: 0px;
  border-collapse: separate;
  border-spacing: 0px 0px;
}

.ct_custom_table tr th,
.ct_custom_table tr td {
  padding: 15px 15px;
  /* text-align: center; */
  vertical-align: middle;
  white-space: nowrap;
}

.ct_custom_table tr th {
  background-color: #FFFBF8;
  color: #0d0d0d;
  border-color: #4B556333;
  font-weight: 600;
}

.ct_custom_table tr td {
  border-color: transparent;
  background-color: #f1f8ff66;
  color: #0d0d0d;
}

.ct_close_sidebar {
  display: none;
}

.ct_custom_table tr td {
  background-color: #fff;
  border-bottom: 1px solid #eaebef;
}

.ct_mt_40 {
  margin-top: 40px;
}

.ct_fs_24 {
  font-size: 24px;
}

.ct_user_border_0 td {
  border: 0px;
}

.ct_search {
  position: relative;

  width: 300px;
}

.ct_search input {
  height: 45px;
  border-color: #4B55631A;
  font-size: 14px;
  border-radius: 10px;
  padding-right: 40px;
  background-color: #fff;
}

.ct_search input::placeholder {
  color: #949494;
}

.ct_search i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #454545;
}

.form-control {
  appearance: auto;
}

.form-control:focus {
  box-shadow: unset;
}

/* .modal-content {
  background-color: #fffaf5;
} */
button.btn-close.ct_close {
  background-image: unset;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--text_clr_061F61);
  opacity: 1;
  right: 20px;
  position: absolute;
  top: 20px;
  color: #fff;
  z-index: 999;
  cursor: pointer;
}

.ct_modal_footer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.ct_custom_tab {
  background: #a8a8a81f;
  padding: 4px;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
}

.ct_custom_tab button.active {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: 0px 3px 1px 0px #0000000a, 0px 3px 8px 0px #0000001f;
}

.ct_custom_tab button {
  color: #3a3c3d;
  font-weight: 600;
  padding: 8px 40px;
  border-radius: 10px;
}

.ct_custom_tab ul {
  align-items: center;
  padding: 6px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  gap: 15px;
}

.ct_clr_3A3C3D {
  color: #3a3c3d;
}

.ct_custom_tab button:hover {
  color: #000;
  box-shadow: 0px 3px 1px 0px #0000000a, 0px 3px 8px 0px #0000001f;
  background-color: #fff;
}

.ct_edit_profile_bg {
  background-color: #fff;
  margin-inline: auto;
  padding: 24px;
  border-radius: 8px;
}

.ct_pt_127 {
  padding-block: 60px;
}

.ct_border_right_1 {
  border-right: 1px solid #c5c5c5;
  padding-right: 20px;
}

.ct_right_dropdown.dropdown ul {
  padding: 0px;
  border: 0px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}

.ct_right_dropdown.dropdown .dropdown-item:hover {
  background-color: var(--text_clr_061F61);
  color: #fff;
}

.ct_menu_bar {
  display: none;
}

.ct_white_bg {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  height: 100%;
  border: 1px solid #eaebef;
}

.ct_fs_28 {
  font-size: 28px;
}

.ct_border_grey {
  border-color: #4B556333;
}

.ct_red_btn {
  background-color: #DC2626;
  border-radius: 5px;
  color: #fff;
  padding: 10px 25px;
  border: 1px solid #DC2626;
  outline: none;
  transition: 0.4s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  gap: 10px;
}

.ct_red_btn:hover svg path {
  stroke: #ff3d00;
}

.ct_blue_btn {
  background-color: var(--dark_blue);
  border-radius: 5px;
  color: #fff;
  padding: 10px 10px;
  border: 1px solid var(--dark_blue);
  outline: none;
  transition: 0.4s ease all;
  font-weight: 600;
}

.ct_dark_blue_link {
  color: var(--dark_blue);
}

.ct_blue_btn:hover {
  background-color: transparent;
  color: var(--dark_blue);
}

.ct_red_btn:hover {
  background-color: transparent;
  color: #ff000a;
}

.ct_border_btm_1 {
  border-bottom: 1px solid #6666662E;
}

.ct_w_fit_content {
  width: fit-content;
}

.ct_table_border {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.ct_img_34 {
  height: 44px;
  width: 34px;
  border-radius: 5px;
  object-fit: cover;
}

.ct_fs_20 {
  font-size: 20px;
}

.ct_border_corner_0 {
  border-radius: 0px;
}

.ct_mt_40 {
  margin-top: 40px;
}

.ct_dark_green_btn {
  padding: 12px 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  background: linear-gradient(180deg, #151540 -298.31%, #222267 414.55%);

  transition: 0.4s ease all;
  z-index: 1;
  position: relative;
  color: #fff;
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

.ct_dark_green_btn:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  z-index: -1;
  transition: 0.4s ease all;
}

.ct_dark_green_btn:hover:before {
  width: 100%;
}

.ct_dark_green_btn:hover {
  color: #061F61;
}

.ct_outline_btn {
  padding: 12px 30px;
  border-radius: 10px;
  outline: none;
  border: 1px solid;
  /* background-color: transparent;
  border-image: linear-gradient(269.13deg, #0A5F2F -54.88%, #008486 99.12%) 1;  */
  background: transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 10px;
  /* Optional for rounded corners */
  transition: 0.4s ease all;
  z-index: 1;
  position: relative;
  color: #061F61;
  line-height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

.ct_outline_btn:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  border-radius: 5px;
  border-color: transparent;
  background: #061F61;
  z-index: -1;
  transition: 0.4s ease all;
}

.ct_outline_btn:hover:before {
  width: 100%;
}

.ct_outline_btn:hover {
  color: #fff;
}

.ct_border_radius_10 {
  border-radius: 10px !important;
}

.ct_border_radius_100 {
  border-radius: 100px !important;
}

.ct_mt_20 {
  margin-top: 20px;
}

.ct_progress_bar {
  height: 10px;
}

.ct_progress_bar .progress-bar {
  background-color: var(--text_clr_061F61);
}

/* width */
.ct_custom_scrollbar::-webkit-scrollbar,
.ct_side_bar ul::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_custom_scrollbar::-webkit-scrollbar-track,
.ct_side_bar ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ct_custom_scrollbar::-webkit-scrollbar-thumb,
.ct_side_bar ul::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_custom_scrollbar::-webkit-scrollbar-thumb:hover,
.ct_side_bar ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ct_custom_check_2 .form-check-input:checked {
  background-color: var(--text_clr_061F61);
  border-color: var(--text_clr_061F61);
}

.ct_custom_check_2 .form-check-input:focus {
  box-shadow: unset;
  border-color: var(--text_clr_061F61);
}

.ct_img_40 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.ct_status_dot {
  border-radius: 100px;
  width: 8px;
  height: 8px;
  display: inline-block;
}

.ct_view_icon {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;
  cursor: pointer;
}

.ct_h_40 {
  height: 40px;
}

.ct_h_45 {
  height: 45px;
}


.ct_notification_list li+li {
  border-top: 1px solid #4B55631F;
  padding-top: 15px;
  margin-top: 15px;
}

.ct_edit_profile_logo {
  background-color: #dbdbdb33;
  padding: 18px;
  text-align: center;
}

.ct_edit_profile_logo img {
  width: 200px;
  object-fit: contain;
}

.ct_upload_user_profile_img {
  width: fit-content;
}

.ct_upload_user_profile_img img {
  width: 92px;
  height: 92px;
  border-radius: 100px;
  object-fit: cover;
}

.ct_upload_user_profile_img .ct_authore_banner_upload_icon_12 {
  bottom: 5px;
}

.ct_authore_banner_upload_icon_12 {
  position: absolute;
  bottom: -15px;
  right: 0px;
  width: 24px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text_clr_061F61);
  border-radius: 100px;
}

.ct_img_80 {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.ct_custom_radio .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #d2d5db;
  position: relative;
}

.ct_custom_radio .form-check-input:checked {
  background-color: transparent;
  border-color: #057159;
}

.ct_custom_radio .form-check-input:checked[type="radio"] {
  background-image: url(../img/download.svg);
}

.ct_custom_radio .form-check-input:focus {
  box-shadow: unset;
}

.ct_custom_badge {
  padding: 10px 15px;
  display: block;
  width: fit-content;
  border-radius: 5px;
  font-weight: 600;
}

.ct_icon_24_bg {
  width: 30px;
  height: 30px;
  background-color: #5570f114;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.ct_blue_link {
  color: #0165ff;
  text-decoration: underline;
}

.ct_upload_product_main {
  border: 2px dashed #d1d5db;
  border-radius: 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ct_browse_btn {
  background-color: #f3f4f6;
  padding: 9px 20px;
  font-weight: 500;
  border-radius: 5px;
}

.ct_uploaded_img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  object-fit: cover;
  pointer-events: none;
}

.ct_dark_rey_border {
  border-color: #e6e6e6;
}

.ct_border_op_10 {
  border: 1px solid #0000001a;
}

.ct_orange_clr {
  color: #FF9800;
}

.ct_green_clr {
  color: #4CAF50
}

.ct_completed_clr {
  color: #01c0d5;
}

.ct_red_clr {
  color: #ff000a;
}

.ct_blue_clr {
  color: #2196F3;
}


a.ct_back_icon {
  color: #000;
  width: 22px;
  display: inline-block;
  cursor: pointer;
  transition: 0.4s ease all;
}

a.ct_back_icon:hover {
  color: var(--text_clr_061F61);
}









.ct_para_scroll {
  height: auto;
  max-height: 240px;
  overflow-y: auto;
}

.ct_pe_40 {
  padding-right: 40px;
}









/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom Scroll Css C */
.ct_custom_scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_custom_scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.ct_custom_scroll::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom Scroll Css E */

.ct_flex_1 {
  flex: 1;
}

.ct_flex_shrink_0 {
  flex-shrink: 0;
}

.ct_white_nowrap {
  white-space: nowrap;
}

.ct_minimise_cnt {
  box-sizing: border-box;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 400px;
  width: auto;
}

.ct_white_space_normal {
  white-space: normal;
}

.ct_text_upercase {
  text-transform: uppercase;
}



.toggle-switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-handle {
  transform: translateX(35px);
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background {
  background-color: #071537;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch:before {
  content: "On";
  color: #071537;
  right: -15px;
}

.toggle-switch input[type="checkbox"]:checked+.toggle-switch-background .toggle-switch-handle {
  transform: translateX(15px);
}





.ct_profile_img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-inline: auto;
  position: relative;
}

.ct_profile_img>img {
  object-fit: cover;
  width: 70px;
  border-radius: 100px;
  height: 70px;
}

.ct_upload_icon {
  position: absolute;
  bottom: -3px;
  right: 0;
  cursor: pointer;
  background-color: #000;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: #fff;
  font-size: 13px;
}




.ct_upload_product_main {
  border: 2px dashed #d2d5db;
  border-radius: 5px;
  height: 196px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ct_browse_btn {
  background-color: #0d0d0d0f;
  padding: 9px 20px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.ct_uploaded_img123 {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  width: 100px;
}

.ct_uploaded_img_w {
  border: 1px solid #cecece;
  border-radius: 10px;
}

.ct_uploaded_img_w img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.ct_uploaded_img_w i {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #ff000a;
  border-radius: 100px;
  color: #fff;
  font-size: 14px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ct_multiple_img_div {
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap;
  height: auto;
  max-height: 225px;
  overflow-y: auto;
}

.ct_yellow_text {
  color: #ffb902;
}


.ct_circle_dot_8 {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: #ff000a;
  display: inline-block;
}


.ct_view_profile_list li {
  display: grid;
  grid-template-columns: 40% auto;
  gap: 15px;
}

.ct_view_profile_list li+li {
  margin-top: 15px;
}





.ct_custom_tabs {
  margin-top: 30px;
  /* gap: 25px; */
}

.ct_custom_tabs.nav-pills .nav-link {
  color: #282828;
  padding: 12px 40px;
  font-weight: 600;
  border-radius: 10PX;
  /* box-shadow: 0px 2.18px 8.74px 0px #0000000F; */
  /* border: 1.09px solid #E5E7EB80; */

}

.ct_custom_tabs.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #E0E7F0;
  color: #061F61;
}





/* Page not found css S */
.ct_page_not_found_bg {
  background-color: #ffd8b070;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.ct_page_not_found_section {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.ct_page_not_found_section .ct_page_not_found_error {
  font-size: 150px;
  color: var(--text_clr_061F61);
  font-weight: 700;
  text-shadow: 1px 1px 1px var(--light_orange), 2px 2px 1px var(--light_orange),
    10px 10px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.ct_page_not_found_page {
  font-size: 20px;
  font-weight: 600;
  color: #444;
}

/* Page not found css E */

.ct_full_view_img img {
  width: 100%;
  height: 350px;
  object-fit: contain;
}

.ct_cursor_pointer {
  cursor: pointer;
}




.fc .fc-toolbar-title {
  font-size: 20px;
}


.ct_checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.ct_custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.ct_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.ct_checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.ct_custom-checkbox:checked~.ct_checkmark {
  background-color: var(--text_clr_061F61);
}

.ct_custom-checkbox:checked~.ct_checkmark:after {
  display: block;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.ct_custom-checkbox:checked~.ct_checkmark:after {
  animation: checkAnim 0.2s forwards;
}






.ct_notification_icon.active {
  background-color: #ff7f00;
}

.ct_notification_icon.active svg {
  filter: brightness(55);
}


.ct_view_all_link {
  color: #4B5563;
  transition: 0.4s ease all;
  font-weight: 600;
}

.ct_view_all_link:hover {
  color: #000;
  text-decoration: underline;
}


.ct_grey_bg {
  background-color: #fff;
  padding: 18px 30px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 1px 10px 0px #061F611F;

}


.ct_dot_8 {
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: var(--text_clr_061F61);
  display: inline-block;
}

/* .ct_grey_bg ul{
  display: flex;
  align-items: center;
  gap: 10px;
} */

.ct_dark_green_clr {
  color: #15803D;
}

.ct_pt_30 {
  padding-top: 30px;
}

.ct_img_w_60 {
  border-radius: 100px;
  width: 60px;
  height: 60px;
  object-fit: cover;
}


.ct_img_w_120 {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.ct_order_icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #E5E7EB;
}


.ct_shipped_status_active .ct_order_icon {
  background-color: #3B82F6;
  color: #fff;
}

.ct_shipped_status_active .ct_order_icon img {
  filter: brightness(0) invert(1);
}

.ct_not_delivered_status_active .ct_order_icon {
  background-color: #4CAF50;
  color: #fff;
}

.ct_not_delivered_status_active .ct_order_icon img {
  filter: brightness(0) invert(1);
}

.ct_shipped_status_active h4,
.ct_not_delivered_status_active h4 {
  color: #222222;
}

.ct_text_9CA3AF {
  color: #9CA3AF;
}

.ct_pb_30 {
  padding-bottom: 30px;
}

.ct_text_018180 {
  color: #018180;
}


.ct_notification_list li {
  display: flex;
  align-items: end;
  gap: 15px;
  justify-content: space-between;

}

.ct_outline_bg {
  border: 1px solid #EAEBEF;
  border-radius: 10px;
  padding: 30px;
}

ul.ct_notification_list {
  height: calc(100vh - 250px);
  overflow-y: auto;
}

.ct_pe_30 {
  padding-right: 30px;
}

.ct_quantity_icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  transition: 0.4s ease all;
}

.ct_quantity_icon:hover {
  background-color: #018180;
  color: #fff;
}

.ct_product_quantiy {
  display: grid;
  grid-template-columns: 50px 150px 50px;
  gap: 15px;
}

.ct_border_radius_5 {
  border-radius: 5px !important;
}

.ct_product_feature li {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 10px 150px;
}

.ct_list_style_disc {
  list-style: disc;
}

.ct_product_dtl_left img {
  width: 100%;
  height: 128px;
  object-fit: contain;
}

.ct_text_FCD53F {
  color: #FCD53F;
}

.ct_review_main_grid {
  display: grid;
  grid-template-columns: 23% auto;
  gap: 20px;
  align-items: center;
}

.ct_box_shadow_card {
  box-shadow: 0px 3.47px 12.76px 0px #00000040;
}

.ct_img_w_148 {
  width: 148px !important;
  height: 148px !important;

}


.ct_transparent_select {
  background-color: transparent;
  border: 0px;
  color: var(--text_clr_061F61);
  font-weight: 600;
}

ul.ct_seeling_products_list {
  height: auto;
  overflow-y: auto;
  max-height: 366px;
  overflow-x: hidden;
}

.ct_img_w_90 {
  width: 90px !important;
  height: 90px !important;
  border-radius: 100px;
  border: 1px solid #061F6133;
}

.ct_loader_main {
  position: fixed;
  top: 0px;
  background-color: #e7edfb;
  display: flex;
  align-items: flex-end;
  z-index: 9999;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 64px;
  height: 64px;
  position: relative;
  background-image:
    linear-gradient(#FFF 16px, transparent 0),
    linear-gradient(#061F61 16px, transparent 0),
    linear-gradient(#061F61 16px, transparent 0),
    linear-gradient(#FFF 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg)
  }

  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg)
  }

  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg)
  }
}

.ct_loader_main img {
  max-width: 300px;
  object-fit: contain;
}

.ct_custom_tabs_2.nav-pills {
  display: flex;
  align-items: center;
  gap: 50px;
}

.ct_custom_tabs_2.nav-pills .nav-link {
  border-bottom: 2px solid transparent;
  border-radius: 0px;
  padding-inline: 0px;

}

.ct_custom_tabs_2.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: transparent;
  border-bottom-color: var(--text_clr_061F61);
}


.ct_live_card {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0px;
  box-shadow: 0px 2px 10px 0px #061F6124;
  background-color: #fff;
}

.ct_live_img {
  position: relative;
}

.ct_live_img img {
  height: 188px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ct_live_card figcaption img {
  width: 45px;
  height: 45px;
  border-radius: 100px;
  object-fit: cover;
}

.ct_live_overlay_cnt {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.ct_live_overlay_cnt ul {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
}

.ct_live_overlay_cnt li {
  background-color: #FFFFFF99;
}

.ct_live_overlay_cnt li {
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 600;
  gap: 4px;
  padding: 4px 15px;
}

.ct_live_card figcaption {
  display: grid;
  grid-template-columns: 45px auto;
  gap: 15px;
  align-items: center;
  padding: 20px 15px;
}

.ct_img_w_140 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.ct_text_666 {
  color: #666;
}

.ct_green_btn {
  background-color: #25AA25;
  border-radius: 5px;
  color: #fff;
  padding: 10px 10px;
  border: 1px solid #25AA25;
  outline: none;
  transition: 0.4s ease all;
  font-weight: 600;
}

.ct_green_btn:hover {
  background-color: transparent;
  color: #25AA25;
}


.ct_post_slider_img img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  object-position: 5% 14%;
}

.ct_comment_area_scroll {
  max-height: 500px;
  height: auto;
  overflow-y: auto;
}

/* width */
.ct_comment_area_scroll::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.ct_comment_area_scroll::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
.ct_comment_area_scroll::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ct_comment_area_scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.ct_comment_area_main {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.ct_icon_40_52 {
  width: 40px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #061F611F;
  border-radius: 10px;
}

.ct_single_uploaded_img img {
  width: 100%;
  object-fit: contain;
  height: 200px;
}

.ct_single_uploaded_img {
  border: 2px dashed #d1d5db;
  position: relative;
}

.ct_single_uploaded_img i {
  position: absolute;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 100px;
  color: #fff;
  font-size: 14px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.ct_sweepstake_full_img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.ct_login_white_bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ct_login_form {
  background-image: url(../img/login_img.jpg);
  flex: 1;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  position: relative;

}

.ct_login_right_form {
  padding: 20px 30px;
  background-color: #fff;
  max-width: 520px;
  margin-left: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ct_login_logo {
  width: 70px;
  margin-bottom: 15px;
  display: inline-block;
}

.ct_login_form:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(270.53deg, #44405B 0.47%, #211C3D 99.53%);
  z-index: -1;
  border-radius: 20px;
  transform: rotate(2.5deg);
}

ul.dropdown-menu.ct_custom_dropdown.show {
  position: relative !important;
  transform: translate(0px, 0px) !important;
  border: 0px !important;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}

ul.dropdown-menu.ct_custom_dropdown.show a.dropdown-item {
  padding: 4px 15px;
}


.ct_img_h_268 {
  width: 100%;
  max-width: 360px;
  height: 268px;
  object-fit: cover;
}

.ct_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.ct_gallery_left {
  width: 100%;
}

.ct_gallery_left img {
  width: 100%;
  height: 360px;
  border-radius: 6px;
  object-fit: cover;
}

.ct_gallery_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  position: relative;
}

.ct_gallery_right img {
  width: 100%;
  height: 172px;
  object-fit: cover;
  border-radius: 6px;
}

button.ct_show_all_images_btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 999;
  background-color: #fff;
  padding: 4px 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  transition: 0.4s ease all;
}

.ct_light_green_badge {
  border: 1px solid #008000;
  color: #008000;
  background-color: #0080000D;
  padding: 10px 24px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
}

.ct_light_orange_badge {
  border: 1px solid #FF903F12;
  color: #FF903F;
  background-color: #FF903F12;
  padding: 10px 24px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
}


.ct_light_orange_alert,
.ct_light_green_alert,
.ct_light_red_alert {
  padding: 16px 20px;
  border-radius: 10px;
  display: flex;
  gap: 10px;

}

.ct_light_red_alert {
  background-color: #DB00060F;
}

.ct_light_orange_alert {
  background-color: #FF903F14;
}

.ct_light_green_alert {
  background-color: #22C55E12;
}

.ct_light_red_alert h5,
.ct_light_red_alert p {
  color: #DB0006;
}

.ct_light_orange_alert h5 {
  color: #FF903F;
}

.ct_light_orange_alert p {
  color: #FF903F;
}

.ct_light_green_alert h5 {
  color: #10B981;
}

.ct_light_green_alert p {
  color: #10B981;
}

.ct_amenties_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.ct_ul_dot {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background-color: #000;
  display: inline-flex;
  margin-right: 10px;
}

.ct_img_60 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100px;
}

.ct_approve_green_btn {
  background: #22C55E;
  color: #fff;
  border-color: #22C55E;
  border-radius: 5px;
}

.ct_reject_red_btn {
  background: #FF5A3C;
  color: #fff;
  border-color: #FF5A3C;
  border-radius: 5px;
}

.ct_reject_red_btn:before,
.ct_approve_green_btn:before {
  border-radius: 5px;
}

.ct_approve_green_btn:hover {
  color: #22C55E;
}

.ct_reject_red_btn:hover {
  color: #FF5A3C;
}

.ct_visit_dtl_img_full img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}

.ct_text_074173 {
  color: #074173;
}