<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <h4 class="ct_fs_24 ct_fw_600 mb-4 ct_text_061F61">Revenue</h4>
        <div class="row">
            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,341</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Total Revenue
                        </h6>
                    </div>
                    <div>
                        <img src="img/total_earning_icon.svg" alt="" />
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,345</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Boosting Revenue
                        </h6>
                    </div>
                    <div>
                        <img src="img/total_order_icon.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-6 col-md-6 mb-4">
                <div class="ct_dash_card">
                    <div class="ct_card_title">
                        <h4 class="mb-0 ct_fs_28 ct_fw_700">$12,345</h4>
                        <h6 class="ct_fs_18 mt-2 ct_black_text ct_text_op_07">
                            Sweepstake’s Revenue
                        </h6>
                    </div>
                    <div>
                        <img src="img/pending_order_icon.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 ">
                <div class="ct_white_bg">
                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <h2 class="ct_fs_20 mb-0 ct_fw_600 ct_text_061F61">Total Revenue</h2>
                        <select id="chartType" class="ct_transparent_select" onchange="updateChart()">
                            <option value="yearly">Last 7 days</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>

                    <div class="ct_mt_40" id="chart2"></div>
                </div>
            </div>

        </div>

    </div>
</div>