<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_767 gap-3">
                    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_text_061F61 ct_ff_Saira">Ratings & Reviews</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_767 ct_flex_col_767">
                        <div class="ct_search ct_w_100_767">
                            <input type="text" class="form-control" placeholder="Search " />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="d-flex align-items-center gap-3 ct_w_100_767">
                            <p class="mb-0 ct_white_nowrap">Filter</p>
                            <select class="form-control ct_input ct_w_100_767">
                                <option value="">All</option>
                                <option value="">Approved</option>
                                <option value="">Pending</option>
                                <option value="">Rejcted</option>

                            </select>

                        </div>

                    </div>
                </div>
                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Property</th>
                                <th>Location </th>
                                <th>Username</th>
                                <th>Rating</th>
                                <th>Review</th>
                                <th>Date </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="ct_brown_light_status">
                                <td>1</td>
                                <td><span class="ct_overlay_text">Woodland Apartment</span></td>
                                <td>
                                    <span class="ct_overlay_text">Men T-shirt</span>
                                </td>
                                <td>Emily Parker</td>
                                <td><i class="fa-solid fa-star me-2" style="color: #FCD53F;"></i>5 star</td>
                                <td>
                                    <span class="ct_overlay_text">Perfect swing, great distance — best club I’ve used so
                                        far!”</span>
                                </td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_text_39A1FF" data-bs-toggle="modal"
                                        data-bs-target="#ct_ratings_modal">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_green_light_status">
                                <td>2</td>
                                <td><span class="ct_overlay_text">Woodland Apartment</span></td>
                                <td>
                                    <span class="ct_overlay_text">Men T-shirt</span>
                                </td>
                                <td>Emily Parker</td>
                                <td><i class="fa-solid fa-star me-2" style="color: #FCD53F;"></i>5 star</td>
                                <td>
                                    <span class="ct_overlay_text">Perfect swing, great distance — best club I’ve used so
                                        far!”</span>
                                </td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_text_39A1FF" data-bs-toggle="modal"
                                        data-bs-target="#ct_ratings_modal">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_blue_light_status">
                                <td>3</td>
                                <td><span class="ct_overlay_text">Woodland Apartment</span></td>
                                <td>
                                    <span class="ct_overlay_text">Men T-shirt</span>
                                </td>
                                <td>Emily Parker</td>
                                <td><i class="fa-solid fa-star me-2" style="color: #FCD53F;"></i>5 star</td>
                                <td>
                                    <span class="ct_overlay_text">Perfect swing, great distance — best club I’ve used so
                                        far!”</span>
                                </td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_text_39A1FF" data-bs-toggle="modal"
                                        data-bs-target="#ct_ratings_modal">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_red_light_status">
                                <td>4</td>
                                <td><span class="ct_overlay_text">Woodland Apartment</span></td>
                                <td>
                                    <span class="ct_overlay_text">Men T-shirt</span>
                                </td>
                                <td>Emily Parker</td>
                                <td><i class="fa-solid fa-star me-2" style="color: #FCD53F;"></i>5 star</td>
                                <td>
                                    <span class="ct_overlay_text">Perfect swing, great distance — best club I’ve used so
                                        far!”</span>
                                </td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_text_39A1FF" data-bs-toggle="modal"
                                        data-bs-target="#ct_ratings_modal">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="ct_green_light_status">
                                <td>5</td>
                                <td><span class="ct_overlay_text">Woodland Apartment</span></td>
                                <td>
                                    <span class="ct_overlay_text">Men T-shirt</span>
                                </td>
                                <td>Emily Parker</td>
                                <td><i class="fa-solid fa-star me-2" style="color: #FCD53F;"></i>5 star</td>
                                <td>
                                    <span class="ct_overlay_text">Perfect swing, great distance — best club I’ve used so
                                        far!”</span>
                                </td>
                                <td>Feb 23, 2024</td>

                                <td>
                                    <a href="javascript:void(0)" class="ct_text_39A1FF" data-bs-toggle="modal"
                                        data-bs-target="#ct_ratings_modal">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-lg" id="ct_ratings_modal" tabindex="-1" aria-labelledby="ct_ratings_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
        <div class="modal-content" style="background-color: #F7F7F7;">
            <div class="modal-header border-0">
                <h1 class="modal-title ct_fs_20 ct_fw_600 ct_text_061F61" id="exampleModalLabel">User Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="ct_product_dtl_left">
                        <figure>
                            <img src="img/apartment_detail_big_ing.jpg" alt="" class="w-100 ct_border_radius_10"
                                style="object-fit: cover;">
                            <figcaption class=" mt-3">
                                <h4 class="ct_fs_16 mb-1 ct_fw_600 ct_text_061F61">Woodland Apartment</h4>
                                <p class="mb-0 ct_text_4B5563">1012 Ocean avanue, New yourk, USA</p>
                                <h6 class="ct_fs_18 ct_fw_700 mt-2">$35,4500</h6>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="ct_review_right_cnt mt-3">
                        <h4 class="ct_fs_18 d-flex ct_fw_600 align-items-center gap-2 ct_text_061F61">Renny Smith
                            <div class="d-flex align-items-center gap-1">
                                <i class="fa-solid fa-star ct_text_FCD53F ct_fs_14"></i>
                                <i class="fa-solid fa-star ct_text_FCD53F ct_fs_14"></i>
                                <i class="fa-solid fa-star ct_text_FCD53F ct_fs_14"></i>
                                <i class="fa-solid fa-star ct_text_FCD53F ct_fs_14"></i>
                                <i class="fa-solid fa-star-half-stroke ct_text_FCD53F ct_fs_14"></i>
                            </div>
                        </h4>
                        <p class="ct_para_scroll ct_custom_scrollbar">Absolutely love this driver! Lightweight,
                            perfectly
                            balanced, and gave me a noticeable boost in distance off the tee. Feels premium and performs
                            even
                            better. A must-have for any serious golfer! 💥 The grip feels great, the sound on impact is
                            satisfying,
                            and the confidence it gives at address is next level. ⛳🔥</p>

                        <p class=" ct_text_4B5563 ct_text_op_07 text-end">12 May 2025, 10 AM</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>