<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_575 gap-3">
                    <h4 class="d-flex align-items-center gap-2 ct_fw_600  mb-0 ct_text_061F61 ct_ff_Saira">
                        <a routerLink="/home/view-agent" class="ct_black_text"><i
                                class="fa-solid fa-angle-left"></i></a>Listed Properties
                    </h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_575">
                        <div class="ct_search ct_w_100_575">
                            <input type="text" class="form-control" placeholder="Search " />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>

                    </div>
                </div>

                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Property</th>
                                <th>Location </th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="filteredData.length == 0">
                                <td colspan="8" class="text-center">No property found</td>
                            </tr>
                            <tr
                                *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                <td>{{(p - 1) * 10 + i + 1}}</td>
                                <td><span class="ct_overlay_text">{{item.property_title}}</span></td>
                                <td>
                                    <span class="ct_overlay_text">{{item.city}}, {{item.country}}</span>
                                </td>
                                <td>{{item.created_at | date:'dd-MMM-yyyy'}}</td>
                                <td>
                                    @if(item.status == 'APPROVED'){
                                    <span class="ct_green_clr ct_fw_600">Approved</span>
                                    }
                                    @if(item.status == 'REJECTED'){
                                    <span class="ct_red_clr ct_fw_600">Rejcted</span>
                                    }
                                    @if(item.status == 'PENDING'){
                                    <span class="ct_orange_clr ct_fw_600">Pending</span>
                                    }
                                </td>
                                <td>
                                    <a [routerLink]="['/home/view-propertie']"
                                        [queryParams]="{ property_id: item.property_id }" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>