<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_24  ct_ff_Saira ct_fw_600  mb-4 ct_text_061F61">Notifications</h4>

                <div class="">
                    <ul class="ct_notification_list ct_custom_scrollbar ct_pe_30">
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_061F61 ct_fw_600">New Property Listed</h4>
                                <p class="mb-0">A new property has been listed by Agent John Doe. Review and approve if
                                    required.</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_061F61 ct_fw_600">New Property Listed</h4>
                                <p class="mb-0">A new property has been listed by Agent John Doe. Review and approve if
                                    required.</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_061F61 ct_fw_600">New Property Listed</h4>
                                <p class="mb-0">A new property has been listed by Agent John Doe. Review and approve if
                                    required.</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_061F61 ct_fw_600">New Property Listed</h4>
                                <p class="mb-0">A new property has been listed by Agent John Doe. Review and approve if
                                    required.</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                        <li>
                            <div>
                                <h4 class="ct_fs_18  ct_text_061F61 ct_fw_600">New Property Listed</h4>
                                <p class="mb-0">A new property has been listed by Agent John Doe. Review and approve if
                                    required.</p>
                            </div>
                            <p class="mb-0 ct_text_4B5563"><i>2 min ago</i></p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>