<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_grey_bg">
                    <div class="row align-items-center">
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <h4 class="mb-3 ct_fs_20 ct_fw_600">Buyer</h4>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/girl.jpg" alt="" class="ct_img_60" data-bs-toggle="modal"
                                    data-bs-target="#full_view_img">
                                <div>
                                    <p class="mb-0 ct_fs_18 ct_fw_600 ct_text_clr_4B5563">
                                        Sarah Johnson
                                    </p>
                                    <p class="ct_fs_16 mb-0 ct_text_clr_4B5563">
                                        sarah.jexample.com
                                    </p>
                                    <p class="ct_fs_16 mb-0 ct_text_clr_4B5563">
                                        (209) 555-0104
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <div class="d-flex align-items-center gap-4 mt-lg-4">
                                <div>
                                    <h6 class="ct_fs_18 ct_fw_600 mb-1">Date</h6>
                                    <p class="mb-0 ct_text_op_06">15 Feb 2025</p>
                                </div>
                                <div>
                                    <h6 class="ct_fs_18 ct_fw_600 mb-1">Time</h6>
                                    <p class="mb-0 ct_text_op_06">4:00 PM</p>
                                </div>


                            </div>
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <h4 class="mb-3 ct_fs_20 ct_fw_600">Agent</h4>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/user_2.jpg" alt="" class="ct_img_60" data-bs-toggle="modal"
                                    data-bs-target="#full_view_img">
                                <div>
                                    <p class="mb-0 ct_fs_18 ct_fw_600 ct_text_clr_4B5563">
                                        Alton Rodriguez
                                    </p>
                                    <p class="ct_fs_16 mb-0 ct_text_clr_4B5563">
                                        altonrodriguezgmail.com
                                    </p>
                                    <p class="ct_fs_16 mb-0 ct_text_clr_4B5563">
                                        (209) 555-0104
                                    </p>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="ct_visit_dtl_img_full mt-4">
                        <img src="img/apartment_detail_small_2.jpg" alt="">
                    </div>

                    <div class="mt-4 d-flex justify-content-between align-items-start gap-3 flex-wrap">
                        <div class="">
                            <h4 class="ct_fs_20 ct_fw_600 mb-1">Woodland Apartment</h4>
                            <p class="ct_para_scroll ct_custom_scroll mb-0 ct_text_op_06">1012 Ocean avanue, New yourk,
                                USA</p>
                            <h4 class="ct_fs_20 ct_fw_600 mb-0 mt-2">$35,4500</h4>
                        </div>
                        <div>
                            <a href="property-details.html" class="ct_text_074173 ct_fw_600">View Details <i
                                    class="fa-solid fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>