<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="d-flex align-items-center gap-2 mb-4 ct_fw_600">
                    <a routerLink="/home/sweepstacks" class="ct_black_text"><i class="fa-solid fa-angle-left"></i></a>Create
                    Sweepstake
                </h4>

                <form action="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Sweepstake Name</label>
                                <input type="text" class="form-control ct_input" placeholder="Sweepstake Name" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">About Sweepstake</label>
                                <textarea type="text" class="form-control ct_input h-auto" rows="4"
                                    placeholder="Describe Sweepstake ..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Start Date</label>
                                <input type="date" class="form-control ct_input" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">End Date</label>
                                <input type="date" class="form-control ct_input" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Time</label>
                                <input type="time" class="form-control ct_input" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Total Entries</label>
                                <input type="text" class="form-control ct_input" placeholder="Enter Total Entries" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Entry Price</label>
                                <input type="text" class="form-control ct_input" placeholder="Enter Entry Price" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Winning Prize</label>
                                <input type="number" class="form-control ct_input" placeholder="Winning Prize" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Location</label>
                                <input type="text" class="form-control ct_input" placeholder="Location" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61">Upload Thumbnail</label>
                                <div>
                                    <div class="ct_upload_product_main ct_upload_product_main_180">
                                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M5.87174 22.0167C4.26376 20.9403 3.20508 19.1073 3.20508 17.027C3.20508 13.9023 5.59376 11.3354 8.64473 11.0528C9.26883 7.25653 12.5654 4.36035 16.5384 4.36035C20.5114 4.36035 23.808 7.25653 24.4321 11.0528C27.4831 11.3354 29.8717 13.9023 29.8717 17.027C29.8717 19.1073 28.8131 20.9403 27.2051 22.0167M11.2051 21.6937L16.5384 16.3604M16.5384 16.3604L21.8717 21.6937M16.5384 16.3604V28.3604"
                                                stroke="#9CA3AF" stroke-width="2.66667" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                        </svg>

                                        <p class="text-center ct_fs_18 ct_text_op_07 mb-0">
                                            Upload your image here
                                        </p>
                                        <label for="ct_upload_product">
                                            <input type="file" name="" id="ct_upload_product" class="d-none" />
                                            <div class="ct_browse_btn mt-3">
                                                <span>Browse Files</span>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="ct_single_uploaded_img mt-3 d-none">
                                        <img src="img/recent_uploaded_post_1.jpg" alt="" />
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-4">
                                <label for="" class="ct_fw_600 mb-2 ct_text_061F61"> Sweepstake Rules &
                                    Regulations</label>
                                <textarea type="text" class="form-control ct_input h-auto" rows="4"
                                    placeholder="Enter Sweepstake Rules & Regulations"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-3 justify-content-end mt-4">
                        <a class="ct_outline_btn ct_border_radius_5  ct_fw_600">
                            Cancel
                        </a>
                        <button type="submit" class="ct_dark_green_btn ct_border_radius_5 ct_fw_600">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>