<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_767 gap-3">
                    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_text_061F61 ct_ff_Saira">Live AMA</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_767 ct_flex_col_767">
                        <div class="ct_search ct_w_100_767">
                            <input type="text" class="form-control" placeholder="Search " />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>

                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Created By</th>
                                <th>User Type</th>
                                <th>Title</th>
                                <th>Duration</th>
                                <th>Description</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>

                                <td>
                                    Emily Parker
                                </td>
                                <td>
                                    Agent
                                </td>
                                <td>The Urban Nest </td>

                                <td>
                                    30 Min
                                </td>
                                <td>
                                    <span class="ct_overlay_text">this AMA cover will....</span>
                                </td>
                                <td>
                                    Feb 23, 2024
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Emily Parker
                                </td>
                                <td>
                                    Agent
                                </td>
                                <td>The Urban Nest </td>

                                <td>
                                    30 Min
                                </td>
                                <td>
                                    <span class="ct_overlay_text">this AMA cover will....</span>
                                </td>
                                <td>
                                    Feb 23, 2024
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    Emily Parker
                                </td>
                                <td>
                                    Agent
                                </td>
                                <td>The Urban Nest </td>

                                <td>
                                    30 Min
                                </td>
                                <td>
                                    <span class="ct_overlay_text">this AMA cover will....</span>
                                </td>
                                <td>
                                    Feb 23, 2024
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>