<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_767 gap-3">
                    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_text_061F61 ct_ff_Saira">Referrals</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_767 ct_flex_col_767">
                        <div class="ct_search ct_w_100_767">
                            <input type="text" class="form-control" placeholder="Search " />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <a routerLink="/home/referral-setting" class="ct_dark_blue_link ct_fw_600"><i
                                class="fa-solid fa-gear me-2"></i>Setting</a>
                    </div>
                </div>

                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Referrer Name</th>
                                <th>Referee Name</th>
                                <th>Referral Code</th>
                                <th>Referral Date</th>
                                <th>Action Taken</th>
                                <th>Reward Given</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>

                                <td>
                                    John Smith
                                </td>
                                <td>
                                    Sarah Wilson
                                </td>
                                <td>PXL2023XYZ </td>

                                <td>
                                    Oct 15, 2023
                                </td>
                                <td>
                                    Property Listed
                                </td>
                                <td>
                                    50 pts
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    John Smith
                                </td>
                                <td>
                                    Sarah Wilson
                                </td>
                                <td>PXL2023XYZ </td>

                                <td>
                                    Oct 15, 2023
                                </td>
                                <td>
                                    Property Listed
                                </td>
                                <td>
                                    50 pts
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    John Smith
                                </td>
                                <td>
                                    Sarah Wilson
                                </td>
                                <td>PXL2023XYZ </td>

                                <td>
                                    Oct 15, 2023
                                </td>
                                <td>
                                    Property Listed
                                </td>
                                <td>
                                    50 pts
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>