<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center justify-content-between mb-3 ct_flex_col_767 gap-3">
                    <h4 class="ct_fs_24 ct_fw_600 mb-0 ct_text_061F61 ct_ff_Saira">Scheduled Visits</h4>
                    <div class="d-flex align-items-center gap-2 ct_w_100_767 ct_flex_col_767">
                        <div class="ct_search ct_w_100_767">
                            <input type="text" class="form-control" placeholder="Search " />
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="d-flex align-items-center gap-3 ct_w_100_767">
                            <p class="mb-0 ct_white_nowrap">Filter</p>
                            <select class="form-control ct_input ct_w_100_767">
                                <option value="">All</option>
                                <option value="">Approved</option>
                                <option value="">Pending</option>
                                <option value="">Rejcted</option>

                            </select>

                        </div>

                    </div>
                </div>

                <div class="table-responsive ct_custom_table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Buyer Name</th>
                                <th>Agent Name</th>
                                <th>Scheduled Date</th>
                                <th>Property</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>

                                <td>
                                    Emily Parker
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Completed</span>
                                </td>
                                <td>
                                    <a routerLink="/home/view-schedule" class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Emily Parker
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>
                                <td>
                                    <span class="ct_green_clr ct_fw_600">Completed</span>
                                </td>
                                <td>
                                    <a class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    Emily Parker
                                </td>
                                <td>Alton Rodriguez</td>
                                <td>Feb 23, 2024</td>
                                <td>
                                    <span class="ct_overlay_text">Woodland Apartment</span>
                                </td>
                                <td>
                                    <span class="ct_blue_clr ct_fw_600">Upcoming</span>
                                </td>
                                <td>
                                    <a class="ct_text_39A1FF">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>