<section class="ct_login_bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-10 col-xl-10 col-lg-10 col-md- mx-auto">
                <div class="ct_login_white_bg ct_mt_60 ct_mb_60 ">
                    <div class="ct_login_form ">
                        <div class="ct_login_right_form py-4">
                            <div class=" mb-4">
                                <img src="img/logo.svg" alt="" class="ct_login_logo">
                                <h4 class="ct_fs_28 ct_dark_blue_text ct_fw_600 ct_ff_Saira mb-2">Reset Password</h4>
                                <!-- <p class="ct_text_op_07  mb-0">OTP is sent to
                                    <br> {{userEmail}}
                                </p> -->
                            </div>
                            <form [formGroup]="Form" class="ct_mt_30">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="" class="ct_fw_600 mb-2 ct_text_061F61 ct_text_061F61">New
                                                Password</label>
                                            <div class="position-relative">
                                                <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                                                    class="form-control ct_input ct_input_pe_40"
                                                    placeholder="Enter new password" formControlName="new_password">
                                                <i class="fa-regular ct_show_eye"
                                                    [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash'"
                                                    (click)="togglePasswordVisibility2()"></i>
                                            </div>
                                            <div class="err_msg"
                                                *ngIf="Form.controls['new_password']?.invalid && Form.controls['new_password']?.touched">

                                                <div
                                                    *ngIf="Form.controls['new_password'].errors?.['required']; else checkMinLength">
                                                    New password is required.
                                                </div>

                                                <ng-template #checkMinLength>
                                                    <div *ngIf="Form.controls['new_password'].errors?.['minlength'];">
                                                        New password must be at least 8 characters long.
                                                    </div>
                                                </ng-template>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-4">
                                            <label for="" class="ct_fw_600 mb-2 ct_text_061F61 ct_text_061F61">Confirm
                                                Password</label>
                                            <div class="position-relative">
                                                <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                                                    class="form-control ct_input ct_input_pe_40"
                                                    placeholder="Enter confirm password"
                                                    formControlName="confirm_password">
                                                <i class="fa-regular ct_show_eye"
                                                    [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                                    (click)="togglePasswordVisibility3()"></i>
                                            </div>
                                            <div *ngIf="Form.controls['confirm_password']?.invalid && Form.controls['confirm_password'].touched"
                                                class="err_msg">
                                                <div *ngIf="Form.controls['confirm_password'].errors?.['required']">
                                                    Confirm password is required.</div>
                                                <div
                                                    *ngIf="passwordMismatch && !Form.controls['confirm_password'].errors?.['required']">
                                                    Passwords do not match.</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="mt-4">
                                    <a href="javascript:void(0)" type="button" (click)="onSubmit()"
                                        class="ct_blue_btn text-center w-100">Reset Password</a>
                                </div>
                                <!-- <p class="mb-0 text-center mt-3 ct_fw_500">Already know your password? <a routerLink="/"
                                        class="ct_text_clr_151540 ct_fw_700">Login</a></p> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="ct_loader_main" *ngIf="loading">
      <span class="loader"></span>
</div>